<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.renhao.wevolunteer">

    <!-- 分享所需权限 -->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8798103f868ea3e68c555428e863372e"/>

        <!--全面屏的沉浸式布局适配 这里的value值最好是2.1或者更高-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!--7.0文件访问适配-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IndexActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".activity.NickNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MobilePhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ReportProblemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ResidenceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ServiceCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ServiceTimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisterProBonoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CardTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ApplyProBonoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
            android:name=".ProjectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrganizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProjectDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OrganizationDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JobDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.FAQActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PersonalDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyProjectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CompanyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PoliticsstatusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MajorAbilityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
            android:name=".activity.ProfessionalSelectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SpecilaAbilityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AttributeAtivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ApplyMajorAbilityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
            android:name=".activity.ApplyServiceTimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ApplyServiceCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ApplySpecialtyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Delete_certificate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.OrgSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AreaSelectAction2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MyEMail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FAQDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.Complete_information"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--//分享所需activity-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105573613"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--//微信必须回调-->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.MyRecuritJobActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.VolunteerTagActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.VolkActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.EducationActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.SexAtivity"/>
        <activity android:name=".activity.AttributeNewActivity"/>
    </application>

</manifest>